@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    /* 设置了最小高度 */
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #ffaf00, #bb02ff);
    background-attachment: fixed;
}
.container{
    position: relative;
    width: 1150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card{
    position: relative;
    width: 300px;
    height: 420px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0,0, 0, 0.2);
    /* 这里的作用 */
    overflow: hidden;
    transition: 0.5s;
}

.container:hover .card{
    filter: blur(20px);
    transform: scale(0.9);
    opacity: 0.6;
}
.container .card:hover{
    filter: blur(0);
    transform: scale(1.1);
    opacity: 1;
}
.container .card .circle {
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}
.container .card .circle h2 {
    color: #fff;
    font-size: 3.4rem;
    padding: 20px 0;
}
.container .card .content {
    /* 子绝父相， 内容在card中的位置。 */
    position: absolute;
    bottom: 10px;
    text-align: center;
    padding: 20px;
}
.container .card .content p {
    color: #666;
}
.container .card .content a {
    /* position: relative; */
    /* 如果设置了 display: inline-block，将保留上下外边距/内边距 */
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 40px;
    text-decoration: none;
}
.container .card:nth-child(1) .circle,
.container .card:nth-child(1) .content a {
    background: #ffaf00;
}
.container .card:nth-child(2) .circle,
.container .card:nth-child(2) .content a {
    background: #da2268;
}
.container .card:nth-child(3) .circle,
.container .card:nth-child(3) .content a {
    background: #bb02ff;
}